@model ProductsInOrderViewModel
@{
    ViewData["Title"] = "Details";
    ViewBag.Id = Model.ProductViewModel.Id;
}

<h2>Produkt : </h2>

<div class="col-lg-6">
    <h4>@Html.DisplayFor(model => model.ProductViewModel.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductViewModel.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductViewModel.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductViewModel.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductViewModel.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductViewModel.Type)
        </dd>
    </dl>
</div>

<div class="col-lg-6">
    @if (Model.Message != null)
    {
        <label style="color: red">@Model.Message</label>
    }
    <form asp-controller="ProductToOrders" asp-action="Create">
        <div class="form-horizontal">
            <h4>Dodaj do zamowienia</h4>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductToOrder.AmountOfProduct" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ProductToOrder.AmountOfProduct" class="form-control"/>
                    <span asp-validation-for="ProductToOrder.AmountOfProduct" class="text-danger"/>
                    <input type="hidden" asp-for="ProductToOrder.ProductId" Value="@Model.ProductViewModel.Id"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default"/>
            </div>
        </div>

    </form>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Item1.Id">Edit</a> |*@
    <a asp-action="Index" asp-controller="Home">Powrót</a>
</div>
