@model IEnumerable<FlowersShop.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h2>Index</h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRealized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductToOrders)
            </th>
            <th>
                Adres dostawy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfFinished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFinished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <ul>
                    @foreach (var prod in item.ProductToOrders)
                    {
                        <li>@Html.DisplayFor(it => prod.Product.Name) &#9;&#9;&#9; @Html.DisplayFor(it => prod.AmountOfProduct)</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressStreet) &nbsp; @Html.DisplayFor(modelItem => item.AdressHouseNumber)/@Html.DisplayFor(modelItem => item.AddressLocalNumber) <br/>
                @Html.DisplayFor(modelItem => item.AddressCity) &nbsp; @Html.DisplayFor(modelItem => item.AddressZipCode)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> 
            </td>
        </tr>
}
    </tbody>
</table>
